---
layout: default
---


{% include career-profile.html %}

<!--{% unless site.data.data.sidebar.education %}-->
<!--{% include education.html %}-->
<!--{% endunless %}-->

{% include research-interests.html %}
{% include news.html %}
{% include publications.html %}
{% include honors-and-awards.html %}
{% include services.html %}
{% include skills.html %}

{% include footer1.html %}
<a href='https://clustrmaps.com/site/1b0rb'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=a&t=n&d=lGrvbGH3_xhn1yKPEo7dsjI5xYPNzQxEcuNXyBhA4Kw'/></a>


