{% assign Honors-and-Awards = site.data.data.Honors-and-Awards %}
{% if Honors-and-Awards %}
<section class="section Honors-and-Awards-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ Honors-and-Awards.title }}
  </h2>

<!--  {% if publications.intro %}-->
<!--  <div class="intro">-->
<!--    {{ publications.intro | markdownify }}-->
<!--  </div>&lt;!&ndash;//intro&ndash;&gt;-->
<!--  {% endif %}-->

  {% for ha in Honors-and-Awards.nameset %}
     <div class="item">
    <li class="Honors-and-Awards">{{ ha.name }}</li>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
