{% assign research-interests = site.data.data.research-interests %}
{% if research-interests %}
<section class="section research-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ research-interests.title }}
  </h2>


  <div class="summary">
    {{ research-interests.summary | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
